
.idea/

__pycache__/


dist/
build/

SciExpeMAPI.egg-info/

SciExpeM_API.egg-info/

Examples/.ipynb_checkpoints/

prova.py
Examples/Jupyter-Notebook/.ipynb_checkpoints/
addChemModel.py



addRule.py

Interpreter

.DS_Store

backup/

SciExpeM_API/concentrationProfileExample

*.ipynb

BackUpOS_Old/

H2/

zenodo/

CM_result

concentrationProfileExample

date.out

edo.csv

edoardo.out

edo.out

edo.zip

OptimaPP_XML.xml

*.dic

results

results_composition

utenti

zenodo.py

BackUpOS.py

CM.py

Job.py

main.py

prova2.py

prova3.py

esempio.py
